@mixin flexbox($direction: row) {
  display: flex;
  flex-direction: $direction;
}

// Mixin definition (optional)
@mixin flexbox-center {
  @include flexbox;
  justify-content: center;
  align-items: center;
}

.admin-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  .admin-header {
    @include flexbox-center; // Create a mixin for centered flexbox
    height: 45px;
    font-size: large;
    background-color: #f0f0f0;
  }

  .content {
    @include flexbox; // Reuse the flexbox mixin
    flex-grow: 1;
    padding: 20px;
    gap: 20px;
    overflow: visible;
    /* Removed overflow: auto */

    .inventory-list {
      flex: 1;
      @include flexbox(column); // Reuse with column direction
      overflow: auto;

      .inventory-scroll {
        overflow-y: scroll;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Adjust columns as needed */
        gap: 10px;
        width: calc(100% - 20px); /* Adjust width based on paddings */
        height: calc(100% - 50px); /* adjust height based on search bar */
      }
    }

    .machine-form {
      flex: 1;
      flex-grow: 1;
      @include flexbox(column); // Reuse with column direction

      .form-fields-group {
        @include flexbox(column); // Reuse with column direction
      }
    }
  }
}
